*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #111;
  color: #fff;
}

/* ---------- LAYOUT ---------- */

.wrapper-wrap {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 800px;
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hero {
  background: url("MaskGroup.jpg") center/cover no-repeat;
  padding: 40px 0 0;
  min-height: 800px;
}

/* ---------- NAVIGATION ---------- */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 50px;

  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 30px;
}

.nav__scroll
{
  

  display: flex;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 auto;


  border-radius: 0px;

  backdrop-filter: blur(10px);
  background: rgb(73 71 71 / 25%);
  position: fixed;
  transform: translate(-50%, 0%);
  top: 0;
  left: 50%;
  z-index: 1;
  padding: 25px 25px;


  
  animation-name: smol;
  animation-duration: 1.5s;

}

  .opasity__nav_scroll-menu {
    display: none;
  }

.opasity__nav_scroll {
  opacity: 1;

  animation-name: smol_txt;
  animation-duration: 1.6s;
}

.opasity__nav_scroll-menu {
    opacity: 1;

  animation-name: smol_txt;
  animation-duration: 1.6s;
}

@keyframes smol_txt {
  0% {
  opacity: 0;
  }
  80% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

@keyframes smol {
  0% {
    height: 0px;
    width: 0px;
    border-radius: 50px;
    background: #fff;

  }
  50% {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
  }
  65% {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
  }
  100% {
    height: auto;
    padding: 25px 25px;
    width: 100%;
    border-radius: 0px;
    margin-top: 0px;
  }
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.2s;
}

.menu a:hover {
  opacity: 0.7;
}

.phone {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/* ---------- HERO CONTENT ---------- */

.hero-content {
  display: flex;
  justify-content: flex-end;
}

.hero-card {
  max-width: 600px;
  padding: 40px;
  border-radius: 20px;

  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.07);
}

.hero-card h3 {
  font-size: 16px;
  margin-bottom: 10px;

  letter-spacing: 3px;
  font-weight: 300;
}

.hero-card h1 {
  font-size: clamp(28px, 4vw, 36px);
  margin-bottom: 20px;

  letter-spacing: 4px;
}

.hero-card p {
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn {
  padding: 15px 35px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  background: #101113;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #101113;
}

/* ---------- ADVANTAGES ---------- */

.advantages {
    display: flex;
    background: #1B1C1E;
    border-radius: 50px;
    height: 100px;
    overflow: hidden;
    margin-bottom: -50px;
}

.adv-item {
    flex: 1;
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 50px;
}

.adv-item > svg {
  scale: 0.7;
}

.adv-item > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}

.adv-item > div > h1 {
  font-size: 24px;
  font-weight: 600;
}

.adv-item > div > p {
  font-size: 16px;
  font-weight:400;
}

.adv-item:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,0.2);
}


.erwerw
{
  margin-top: 2000px;
}

@media (max-width: 1024px) {
  .adv-item {
    padding-left: 10px;
  }
}

/* ---------- TABLET ---------- */

@media (max-width: 992px) {

  .menu {
    gap: 20px;
  }

  .hero-content {
    justify-content: center;
  }

  .hero-card {
    text-align: center;
  }

  .adv-item > div > h1 {
    font-size: 20px;
  }

  .adv-item > div > p {
    font-size: 14px;
  }
}

/* ---------- MOBILE ---------- */

@media (max-width: 768px) {

  .nav {
    flex-direction: column;
    gap: 15px;
  }
  .opasity__nav_scroll:not(:first-child) {
    display: none;
  }
  .opasity__nav_scroll-menu {
    display: block;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .hero {
    padding: 30px 0 0 0;
  }

  .advantages {
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: -105px;
    height: 210px;
  }

  .adv-item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .adv-item {
    font-size: 16px;
    padding: 10px;
  }

  .adv-item > svg {
    scale: 0.6;
    width: 75px;
  }

  .adv-item > div > h1 {
    font-size: 16px;
  }

  .adv-item > div > p {
    font-size: 12px;
  }

  .btn {
    width: 100%;
  }
}







.rpdsss
{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	margin-top: 150px;
  min-width: 100px;
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
}

.rpdsss>div{
  min-width: 100px;
  max-width: 1400px;
  width: 100%;
}

.name__content_wrapper
{
    min-width: 100px;
  max-width: 1400px;
  width: 100%;
}

.name__content_wrapper > h1
{
  text-align: center;
  margin-bottom: 150px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 10px;
}

.name__content_wrapper > div
{
  display: flex;
  height: 40px;
  align-items: center;
  margin-bottom: 90px;
  min-width: 100px;
  max-width: 1400px;
  width: 100%;
}

.name__content_wrapper > div > h3
{
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3px;
}

.name__content_wrapper > div > p
{
  font-size: 18px;
  font-weight: 300;
  margin-left: 10px;
  letter-spacing: 10px;
  opacity: 0.7;
}


#wrapper {
  min-width: 100px;
  max-width: 1400px;
  width: 100%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  min-width: 100px;
  max-width: 1400px;
  width: 100%;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.219);
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  min-width: 100px;
  max-width: 1400px;
  width: 100%;
  grid-gap: 30px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 280px;
  height: 380px;
  border-radius: 16px;
}








.wow_not
{
  margin-top: 200px;
  padding: 0 20px;
}

.wow_not > h1
{
  text-align: center;
  margin-bottom: 150px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 10px;
}

.wow__wow_not
{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1400px;
}

.wow_text > p
{
  font-size: 24px;
  opacity: 0.7;

  letter-spacing: 5px;
  font-weight: 400;
  margin-top: 20px;
}

.wow__wow_not > img
{
  width: 650px;
  height: auto;
}



/* ---------- ADAPTIVE GALLERY ---------- */



@media (max-width: 768px) {

  .name__content_wrapper > h1 {
    font-size: 28px;
    margin-bottom: 80px;
    letter-spacing: 5px;
  }

  .name__content_wrapper > div > h3 {
    font-size: 24px;
  }

  .name__content_wrapper > div > p {
    font-size: 14px;
    letter-spacing: 5px;
  }
}

/* ---------- ADAPTIVE WOW SECTION ---------- */

@media (max-width: 992px) {
  .wow__wow_not {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .wow__wow_not > img {
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
  }

  .wow_text > p {
    font-size: 18px;
    letter-spacing: 2px;
  }
}

@media (max-width: 576px) {
  .wow_text > p {
    font-size: 16px;
  }
}

.active
{
  display: flex;
}